<link rel="stylesheet" href="/css/home.css">
<h1>
    Codeial/ <%= title %>
</h1>
<section id="feed-posts">
    <h4>
        Posts
    </h4>
    <% if(locals.user) {%>
    <form action="/posts/create" id="new-post-form" method="POST">
        <textarea name="content"  cols="30" rows="4" placeholder="Type Here..."></textarea>
        <input type="submit" value="post">
    </form>
    <div id="posts-list-container">
        <ul>
            <% for (post of posts) {%>
                <li>
                    <%= post.content %>
                </li>
                <small>
                    <%= post.user.email %>
                </small>
            <%}%>
        </ul>
    </div>
<%}%>
</section>